/* You can add global styles to this file, and also import other style files */
body {
  font: normal 14px/1 'Roboto', sans-serif;
  color: #111;
  margin: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-heading {
  // text-align: center;
}
